#container{
    /* width: 900px; */

    /* border: 2px solid red; */
    margin: 150px auto;
    text-align: center;
}

#thirdraw{
    empty-cells: hide;
}
td{
    width: 70px;
    height: 70px;
    border: 2px solid black;
}
#empty{
    border: none;
}
#first{
    empty-cells: hide;

}
#second{
    empty-cells: hide;
}
#third{
    empty-cells: hide;
}

#textraw{
    empty-cells: hide;
    
}

.numbers{ border: none;
}

.num{
    border: none;
}
   
.green{
    background-color:#16A79D ;
    color: white;
}

.purple{
    background-color: #965BA5;
    color: white;
}

.yellow{
    background-color: #F8E18A;
    color: white;
}

.orange{
    background-color: #E77E27;
    color:white;
}

.lightblue{
    background-color: #4CA5CF;
    color: white;
}

.olive{
    background-color:#EA4C3C ;
    color:white ;
}

.lightgreen{
    background-color:#96D492 ;
    color:white ;
}

.blue{
    background-color:#2281BC ;
    color:white ;
}

.pink{
    background-color:#D91B5C ;
    color: white;
}

.lightgrey{
    background-color:#849193 ;
    color:white ;
}

.black{
    background-color: #3C4D5F;
    color: white;
}